
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333; 
    background-color: #fff; 
}

header {
    background-color: red;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}


section {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4; 
    border: 1px solid #ccc;
    text-align: center;
}


footer {
    background-color: red;
    color: #fff; 
    padding: 10px 0;
    text-align: center;
}


footer a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
  }
table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }


  img {
    max-width: 100%;
    height: auto;
  }